# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Maven
*.log
.mvn/
!**/src/main/resources/
!**/src/test/resources/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.lastUpdated
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
.gradle/
build/
!gradle-wrapper.jar

# Spring Boot
spring.log
*.war
*.jar

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# React
build/
*.log
*.cache
*.tsbuildinfo

# Svelte
public/build/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE-specific files
*.sublime-project
*.sublime-workspace
*.code-workspace
.vscode/

# Miscellaneous
*.tmp
*.swp

# Build directories
dist/

# JavaScript package manager directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Visual Studio Code
.vscode/

